{% extends "table_layout.html" %}

{% block results_total %}{{ data|length }}{% endblock %}
{% block total_setups %}{{ total_setups[0][0] }}{% endblock %}

{% block results %}
    <table class="table table-sm !table-striped !table-hover fs-xs">
        <thead>
        <tr>
            {% for col in header %}
                <th scope="col">
                    <a href="{{ url_for('setups_view', year=year, month=month, trades=trades, rr=rr, entry_date=entry_date, symbol=symbol, sort=col[1], dir=dir) }}"
                       class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        {{ col[0] }}
                        {% if sort == col[1] %}
                            {{ sort_direction_symbol }}
                        {% endif %}
                    </a>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <th scope="row">{{ row[1] }} {% if row[21] %}
                    <i class="bi bi-megaphone ms-1"
                       data-bs-toggle="tooltip"
                       data-bs-placement="right"
                       data-bs-html="true"
                       data-bs-title="Earnings report on {{ row[21] }}"
                    ></i>{% endif %}
                </th>
                <td>{{ row[7]|int }}%</td>
                <td>{% if row[10]|float >= 6 %}
                    <span class="badge text-bg-secondary">{{ row[10] }}%</span>{% else %}{{ row[10] }}%{% endif %}</td>
                <td>{{ row[11] }}%</td>
                <td>
                    {#                    <button type="button" class="btn btn-secondary"#}
                    {#                            data-bs-toggle="popover"#}
                    {#                            data-bs-html="true"#}
                    {#                            title="Image Example"#}
                    {#                            data-bs-content="<img src='https://seasonaltrader.com/chart/ChartPic1_000213.jpeg?f9dbfd97-3892-47eb-b698-7d82381f32d4' class='img-fluid' alt='Example'>">#}
                    {#                      Click to see image#}
                    {#                    </button>#}
                    {#                     data-bs-title="Dismissible popover"#}
                    <a tabindex="0" role="button" data-bs-toggle="popover"
                       data-bs-trigger="focus" data-bs-html="true"
                       data-bs-content='<img src="https://seasonal-trader-setups.b-cdn.net/{{ row[19] }}_trades.jpg" class="img-fluid" width="320">'>
                        {{ row[20]|int }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-bar-chart" viewBox="0 0 16 16">
                            <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
                        </svg>
                    </a>
                    {#                    <a href="#" class="text-decoration-none">#}
                    {#                        Example link text#}
                    {#                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">#}
                    {#                          <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"></path>#}
                    {#                        </svg>#}
                    {#                    </a>#}
                </td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>
                    <a tabindex="0" role="button" data-bs-toggle="popover"
                       data-bs-trigger="focus" data-bs-html="true"
                       data-bs-placement="left"
                       data-bs-content='<img src="https://seasonal-trader-setups.b-cdn.net/{{ row[19] }}_growth.jpg" class="img-fluid" width="320">'>
                        {{ row[16] }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-graph-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M0 0h1v15h15v1H0zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07"></path>
                        </svg>
                    </a>
                </td>
                <td>
                    <a href="https://seasonaltrader.com/host/History/Stocks.aspx?trade={{ row[19] }}&service_id=3"
                       target="_blank"
                       class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">{{ row[19] }}
                        <i class="bi bi-box-arrow-up-right"></i></a>
                </td>
            <tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
