{% extends "base.html" %}

{% block content %}
    <div class="dropdown my-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ month_name }} {{ year }}
        </button>
        <ul class="dropdown-menu">
            {% if request.path.split('/')[1] == 'stocks' %}
                {% if request.path.split('/')[-1] == 'trades' %}
                    {% set view_name = 'trades_view' %}
                {% else %}
                    {% set view_name = 'setups_view' %}
                {%  endif %}
            {% elif request.path.split('/')[1] == 'futures' %}
                {% if request.path.split('/')[-1] == 'trades' %}
                    {% set view_name = 'futures_trades_view' %}
                {% else %}
                    {% set view_name = 'futures_setups_view' %}
                {%  endif %}
            {% endif %}
            {% for p in period_list  %}
            <li>
                <a class="dropdown-item" href="{{ url_for(view_name, year=p.year, month=p.month, trades=trades, rr=rr, entry_date=entry_date) }}">
                    {{ p.strftime('%B')}} {{ p.year }}
                </a>
            </li>
            {% endfor %}
{#            <li><a class="dropdown-item" href="#">Action</a></li>#}
        </ul>
    </div>
    <form method="GET" action="">
        <div class="row g-3 !my-1">
            {% if request.path.split('/')[1] == 'stocks' %}
            <div class="col-sm">
                <select class="form-select" name="trades" aria-label="Trades">
                    <option value="10" {% if request.args.get('trades', '10') == '10' %}selected{% endif %}>
                        10 trades or more
                    </option>
                    <option value="15" {% if request.args.get('trades') == '15' %}selected{% endif %}>
                        15 trades or more
                    </option>
                    <option value="20" {% if request.args.get('trades') == '20' %}selected{% endif %}>
                        20 trades or more
                    </option>
                    <option value="25" {% if request.args.get('trades') == '25' %}selected{% endif %}>
                        25 trades or more
                    </option>
                </select>
            </div>
            {% endif %}
            <div class="col-sm">
                <select class="form-select" name="rr" aria-label="Risk Reward">
                    <option value="0.1" {% if request.args.get('rr', '0.1') == '0.1' %}selected{% endif %}>
                        Risk Reward (No filter)
                    </option>
                    <option value="1.0" {% if request.args.get('rr') == '1.0' %}selected{% endif %}>
                        1:1 Risk Reward
                    </option>
                    <option value="1.5" {% if request.args.get('rr') == '1.5' %}selected{% endif %}>
                        1.5:1 Risk Reward
                    </option>
                    <option value="2.0" {% if request.args.get('rr') == '2.0' %}selected{% endif %}>
                        2:1 Risk Reward
                    </option>
                </select>
            </div>
            <div class="col-sm">
                <input type="text" name="entry_date" value="{{ entry_date }}" class="form-control"
                       placeholder="Entry date" aria-label="Entry Date">
            </div>
            <div class="col-sm">
                <select class="form-select" name="growth" aria-label="Growth">
                    <option value="" {% if request.args.get('growth', '') == '' %}selected{% endif %}>
                        Growth (No filter)
                    </option>
                    <option value="Y" {% if request.args.get('growth') == 'Y' %}selected{% endif %}>
                        Growth: Y
                    </option>
                    <option value="N/A" {% if request.args.get('growth') == 'N/A' %}selected{% endif %}>
                        Growth: N/A
                    </option>
                    <option value="N" {% if request.args.get('growth') == 'N' %}selected{% endif %}>
                        Growth: N
                    </option>

                </select>
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-outline-secondary">Filter</button>
            </div>
        </div>
    </form>

    <nav class="nav nav-underline mb-2">
        {% if request.path.split('/')[1] == 'stocks' %}
            {% if request.path.split('/')[-1] == 'trades' %}
                <a class="nav-link text-reset"
                   href="{{ url_for('setups_view', year=year, month=month, trades=trades, rr=rr, entry_date=entry_date, growth=growth) }}">
                    Setups
                </a>
                <a class="nav-link active" aria-current="trades" href="">Trades <span class="badge rounded-pill text-bg-secondary">{% block results_total %}{% endblock %}</span></a>
            {% else %}
                <a class="nav-link active" aria-current="setups" href="">Setups <span class="badge rounded-pill text-bg-secondary">{{ self.results_total() }}</span></a>
                <a class="nav-link text-reset"
                   href="{{ url_for('trades_view', year=year, month=month, trades=trades, rr=rr, entry_date=entry_date, growth=growth) }}">
                    Trades
                </a>
            {% endif %}
        {% elif request.path.split('/')[1] == 'futures' %}
            <a class="nav-link active" aria-current="setups" href="">Setups <span class="badge rounded-pill text-bg-secondary">{{ self.results_total() }}</span></a>
            <a class="nav-link disabled"
               href="#">
                Trades (not available yet)
            </a>
        {% endif %}
    </nav>

{#    <h6>#}
{#        {% block results_total %}{% endblock %}#}
{#        {% if total_setups %}#}
{#            <i class="bi bi-info-circle"#}
{#               data-bs-toggle="tooltip"#}
{#               data-bs-placement="right"#}
{#               data-bs-html="true"#}
{#               data-bs-title="#}
{##}
{#                       {% block total_setups %}{% endblock %} results for 75% win, 5% stop loss and 25 days or less trade duration."#}
{#            ></i>#}
{#        {% endif %}#}
{#    </h6>#}

    {% block results %}{% endblock %}

    <div class="card-body pb-5">
        <h4>Notes</h4>
        <ul>
            <li>
                Setups require a timing rigger such as Jake Bernstein's 8OC indicator
            </li>
            <li>
                "Don't Sell Stocks on Monday" is a classic 1986 investment book written by Yale Hirsch. Hence any trade
                that would exit on a Monday is rolled forward to Tuesday.
            </li>
            <li>
                Learn to trade this method by visiting
                <a href="https://seasonaltrader.com" class="text-decoration-none">seasonaltrader.com <i
                        class="bi bi-box-arrow-up-right"></i></a>.
            </li>
        </ul>
    </div>
    <footer class="mt-auto pt-5 pb-3 border-top">
        <p>
            <small class="text-muted">
                Disclaimer and Risk Disclosure: The CFTC requires we state that — notice: hypothetical or simulated
                performance results have certain limitations. unlike an actual performance record, simulated results do
                not represent actual trading. Also since the trades have not actually been executed the results may have
                under or over compensated for the impact, if any, of certain market factors, such as lack of liquidity.
                Simulated trading programs in general are also subject to the fact that they are designed with the
                benefit of hindsight. No representation is being made that any account will or is likely to achieve
                profits or losses similar to those shown. The risk of loss in futures trading can be substantial. you
                should carefully consider whether such trading is suitable for you in light of your financial condition.
                Past profits are not necessarily indicative of future performance. there is a risk of loss in futures
                trading. The information contained herein has been obtained from sources believed to be reliable,
                however it cannot be guaranteed as to accuracy or completeness, and it is subject to change without
                notice. It should not be assumed that the seasonal price tendencies shown herein or that the suggestions
                regarding their use will be profitable or that they will not result in losses. Network Press, its
                directors, shareholders or employees assume no liability in connection with the use of the information
                contained here!
            </small>
        </p>
        <p class="text-end">
            <small class="text-muted">© {{ now.year }} Network Press, Inc. - All rights reserved</small>
        </p>
    </footer>
{% endblock %}