{% extends "table_layout.html" %}

{% block results_total %}{{ data|length }}{% endblock %}
{% block total_setups %}{{ total_setups[0][0] }}{% endblock %}

{% block results %}
    <table class="table table-sm !table-striped !table-hover fs-xs">
        <thead>
        <tr>
            {% for col in header %}
                <th scope="col">
                    <a href="{{ url_for('trades_view', year=year, month=month, trades=trades, rr=rr, entry_date=entry_date, symbol=symbol, sort=col[1], dir=dir) }}"
                       class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        {{ col[0] }}
                        {% if sort == col[1] %}
                            {{ sort_direction_symbol }}
                        {% endif %}
                    </a>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr {% if row[30]|float < 0 %}class="table-danger"
                {% endif %}>
                <th scope="row">{{ row[1] }}</th>
                <td>{{ row[7]|int }}%</td>
                <td>{% if row[10]|float >= 6 %}
                    <span class="badge text-bg-secondary">{{ row[10] }}%</span>{% else %}{{ row[10] }}%{% endif %}</td>
                <td>{{ row[11] }}%</td>
                <td>{{ row[20]|int }}</td>
                <td>{{ row[16] }}</td>
                <td>{{ row[3] }}</td>
                <td
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-html="true"
                        data-bs-title="Entry price: {{ row[23] }}, Exit price: {{ row[27] }}, Net: {{ row[29] }}"
                >
                    {{ row[28] }} on {{ row[26] }} {% if row[28] == 'time_stop' %}{{ row[30] }}%{% endif %}</td>
                <td>
                    <a href="https://seasonaltrader.com/host/History/Stocks.aspx?trade={{ row[19] }}&service_id=3"
                       target="_blank" class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">
                        {{ row[19] }}
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                </td>
            <tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


